/* POLICES */

@font-face {
    font-family: 'ralewaythin';
    src: url(Polices/webfontkit-20201026-085001/raleway-variablefont_wght-webfont.eot);
    }

@font-face {
    font-family: 'ralewaythin';
    src: url(Polices/webfontkit-20201026-085001/raleway-variablefont_wght-webfont.woff) format('woff'),
         url(Polices/webfontkit-20201026-085001/raleway-variablefont_wght-webfont.ttf) format('truetype'),
         url(Polices/webfontkit-20201026-085001/raleway-variablefont_wght-webfont.svg) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaythin_italic';
    src: url(Polices/webfontkit-20201026-085001/raleway-italic-variablefont_wght-webfont.eot);
    }

@font-face {
    font-family: 'ralewaythin_italic';
    src: url(Polices/webfontkit-20201026-085001/raleway-italic-variablefont_wght-webfont.woff) format('woff'),
         url(Polices/webfontkit-20201026-085001/raleway-italic-variablefont_wght-webfont.ttf) format('truetype'),
         url(Polices/webfontkit-20201026-085001/raleway-italic-variablefont_wght-webfont.svg) format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ralewayregular';
    src: url(Polices/webfontkit-20201026-085001/raleway-regular-webfont.eot);
    src: url(Polices/webfontkit-20201026-085001/raleway-regular-webfont.eot?#iefix) format('embedded-opentype'),
         url(Polices/webfontkit-20201026-085001/raleway-regular-webfont.woff) format('woff'),
         url(Polices/webfontkit-20201026-085001/raleway-regular-webfont.ttf) format('truetype'),
         url(Polices/webfontkit-20201026-085001/raleway-regular-webfont.svg) format('svg');
    font-weight: normal;
    font-style: normal;
}
/* GENERAL */

#blocpage
{
    width: 95%;
    margin: auto;
}

body
{
    font-family: 'ralewayregular';
    font-weight: normal;
    margin: 0px;
}
a
{
    text-decoration: none;
    color: black;
}
h1
{
    font-size: 1.3em;
    font-weight: bold;
}

h2

{
    font-size: 1em;
}
.titresection
{
    font-size: 1.2em;
    font-weight: 800;
}
ul
{
    list-style-type: none;
}

/* HEADER */

#header
{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 30px;
    margin-bottom: 15px;
    position: sticky;
    top: -1px;
    background-color: white;
    padding: 10px 35px 0px 35px;
    background-size: cover;
    height: 60px;
}

#logo img
{
    height: 50px;
}

header ul
{
    display: flex;
    list-style-type: none;
    padding: 0px 0px 10px 0px;
    align-items: flex-end;
}

nav a
{
    padding-top: 52px;
}

.navpuce
{
    padding-right: 40px;
}
#sinscrire
{
    color: #0065FC;
    font-weight: bold;
}

.navpuce a:hover
{
    border-top: 3px #0065FC solid;
    color: #0065FC;
}

/* HEADER RESPONSIVE */

@media screen and (max-width: 980px)
{
    #header
    {
        height: 105px;
        padding: 0px;
    }

    #logo
    {
        position: absolute;
        top: 0px;
        left: 20px;
    }
    #sinscrire
    {
        position: absolute;
        top: -30px;
        right: 20px;
    }

    .navpuce
    {
        padding: 0px 0px 20px 0px;
        border-bottom: 3px #F2F2F2 solid;
        width: 50%;
        text-align: center;
        margin: 0px 0px -17px 0px;
    }

    .navpuce:hover
    {
        border-bottom: 3px #0065FC solid;
    }

    .navpuce:hover a
    {
        color: #0065FC;
    }

    .navpuce a:hover
    {
        border-top: none;
    }

    header ul
    {
        padding: 0px 0px 0px 0px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    #nav
    {
        width: 100%;
    }
}

/* RECHERCHE */

#section1
{
    margin: 15px 0px 15px 0px;
}

#section1head
{
    padding-bottom: 15px;
}

#recherche
{
    width: 450px;
    padding-left: 17px;
}

form
{
    display: flex;
    justify-content: space-around;
}

#mapmarkerblock
{
    background-color: #F2F2F2;
    padding: 12px 20px 12px 20px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

#searchbox
{
    border: 1px solid rgba(128, 128, 128, 0.2)
}

#button
{
    background-color: #0065FC;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    border: none;
    text-decoration: none;
    font-size: 1em;
    outline: none;
}

#button:hover
{
    background: #DEEBFF;
    color: #0065FC;
    transition: 0.8s;
    box-shadow: 3px 1px 10px rgba(128, 128, 128, 0.4);
}

input[placeholder]
{
    text-align: left;
    padding-left: 20px;
}
