/* POLICES */

@font-face {
    font-family: 'ralewaythin';
    src: url(Polices/webfontkit-20201026-085001/raleway-variablefont_wght-webfont.eot);
    }

@font-face {
    font-family: 'ralewaythin';
    src: url(Polices/webfontkit-20201026-085001/raleway-variablefont_wght-webfont.woff) format('woff'),
         url(Polices/webfontkit-20201026-085001/raleway-variablefont_wght-webfont.ttf) format('truetype'),
         url(Polices/webfontkit-20201026-085001/raleway-variablefont_wght-webfont.svg) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaythin_italic';
    src: url(Polices/webfontkit-20201026-085001/raleway-italic-variablefont_wght-webfont.eot);
    }

@font-face {
    font-family: 'ralewaythin_italic';
    src: url(Polices/webfontkit-20201026-085001/raleway-italic-variablefont_wght-webfont.woff) format('woff'),
         url(Polices/webfontkit-20201026-085001/raleway-italic-variablefont_wght-webfont.ttf) format('truetype'),
         url(Polices/webfontkit-20201026-085001/raleway-italic-variablefont_wght-webfont.svg) format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ralewayregular';
    src: url(Polices/webfontkit-20201026-085001/raleway-regular-webfont.eot);
    src: url(Polices/webfontkit-20201026-085001/raleway-regular-webfont.eot?#iefix) format('embedded-opentype'),
         url(Polices/webfontkit-20201026-085001/raleway-regular-webfont.woff) format('woff'),
         url(Polices/webfontkit-20201026-085001/raleway-regular-webfont.ttf) format('truetype'),
         url(Polices/webfontkit-20201026-085001/raleway-regular-webfont.svg) format('svg');
    font-weight: normal;
    font-style: normal;
}
/* GENERAL */

#blocpage
{
    width: 95%;
    margin: auto;
}

body
{
    font-family: 'ralewayregular';
    font-weight: normal;
    margin: 0px;
}
a
{
    text-decoration: none;
    color: black;
}
h1
{
    font-size: 1.3em;
    font-weight: bold;
}
h2
{
    font-size: 1em;
}
.titresection
{
    font-size: 1.2em;
    font-weight: 800;
}
ul
{
    list-style-type: none;
}
